<!-- ======= Cta Section ======= -->
<section id="cta" class="cta d-flex align-items-center">
    <div class="container" data-aos="zoom-in">

        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
            data-aos="fade-up" data-aos-delay="200">
            <h1 style="text-align: justify;"></h1>
            <h2 style="text-align: justify;"></h2>
        </div>
        <div class="row">
            <div class="col-lg-9 text-center text-lg-start">
                <h3>
                    <h1>Need ritual help?</h1>
                </h3>
                <p>
                    Call for an authentic resolution!
                </p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle"
                    href="https://wa.me/917567751766?text=I'm%20inquiring%20about%20the%20solution%20for%20my%20problem!"
                    target="_blank">Call Now</a>
            </div>
        </div>

    </div>
</section><!-- End Cta Section -->


<!-- <div class="container">
    <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
            data-aos="fade-up" data-aos-delay="200">
            <h1 style="text-align: justify;">Need ritual help?</h1>
            <h2 style="text-align: justify;">Call for an authentic resolution!</h2>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
            <img src="assets/logo.png" class="img-fluid animated" alt="">
        </div>
    </div>
</div>

</section>End Hero -->