<!-- Gallery Section Start -->
<div class="gallery-sec pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sec-title">
                    <h1>Glimpse of Pooja</h1>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="gallery-area">
                <!-- Gallery Filter Start -->
                <!-- <div class="navbarsort">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbarfiltr" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="shorttitle">
                        <h2>Sort Gallery</h2>
                    </div>
                </div>
                <div class="collapse navbar-collapse latest--project" id="navbarfiltr">
                    <ul class="simplefilter">
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".institute">institute</li>
                        <li data-filter=".library">library</li>
                        <li data-filter=".etertainment">etertainment</li>
                        <li data-filter=".classroom">classroom</li>
                    </ul>
                </div> -->
                <!-- Gallery Filter End -->
                <!-- Gallery container Start -->
                <div class="gallery-container">
                    <!-- Gallery Item Block Start -->
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item etertainment">
                        <div class="gallery-item">
                            <img src="/assets/img/g1.jpg" alt="" />
                            <div class="gallery-overlay">
                                <div class="gallery-overlay-text">
                                    <span class="gallery-button">
                                        <a href="/assets/img/g1.jpg" class="gallery-photo"><i
                                                class="fa fa-file-image-o"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery Item Block End -->
                    <!-- Gallery Item Block Start -->
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item library">
                        <div class="gallery-item">
                            <img src="/assets/img/g2.jpg" alt="" />
                            <div class="gallery-overlay">
                                <div class="gallery-overlay-text">
                                    <span class="gallery-button">
                                        <a href="/assets/img/g2.jpg" class="gallery-photo"><i
                                                class="fa fa-file-image-o"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery Item Block End -->
                    <!-- Gallery Item Block Start -->
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item institute">
                        <div class="gallery-item">
                            <img src="/assets/img/g3.jpg" alt="" />
                            <div class="gallery-overlay">
                                <div class="gallery-overlay-text">
                                    <span class="gallery-button">
                                        <a href="/assets/img/g3.jpg" class="gallery-photo"><i
                                                class="fa fa-file-image-o"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery Item Block End -->
                    <!-- Gallery Item Block Start -->
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item institute etertainment">
                        <div class="gallery-item">
                            <img src="/assets/img/g4.jpg" alt="" />
                            <div class="gallery-overlay">
                                <div class="gallery-overlay-text">
                                    <span class="gallery-button">
                                        <a href="/assets/img/g4.jpg" class="gallery-photo"><i
                                                class="fa fa-file-image-o"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery Item Block End -->
                    <!-- Gallery Item Block Start -->
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item etertainment">
                        <div class="gallery-item">
                            <img src="/assets/img/g5.jpg" alt="" />
                            <div class="gallery-overlay">
                                <div class="gallery-overlay-text">
                                    <span class="gallery-button">
                                        <a href="/assets/img/g5.jpg" class="gallery-photo"><i
                                                class="fa fa-file-image-o"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery Item Block End -->
                    <!-- Gallery Item Block Start -->
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item library">
                        <div class="gallery-item">
                            <img src="/assets/img/g6.jpg" alt="" />
                            <div class="gallery-overlay">
                                <div class="gallery-overlay-text">
                                    <span class="gallery-button">
                                        <a href="/assets/img/g6.jpg" class="gallery-photo"><i
                                                class="fa fa-file-image-o"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery Item Block End -->
                    <!-- Gallery Item Block Start -->
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item institute">
                        <div class="gallery-item">
                            <img src="/assets/img/g7.jpg" alt="" />
                            <div class="gallery-overlay">
                                <div class="gallery-overlay-text">
                                    <span class="gallery-button">
                                        <a href="/assets/img/g7.jpg" class="gallery-photo"><i
                                                class="fa fa-file-image-o"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery Item Block End -->
                    <!-- Gallery Item Block Start -->
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item institute etertainment">
                        <div class="gallery-item">
                            <img src="/assets/img/g8.jpg" alt="" />
                            <div class="gallery-overlay">
                                <div class="gallery-overlay-text">
                                    <span class="gallery-button">
                                        <a href="/assets/img/g8.jpg" class="gallery-photo"><i
                                                class="fa fa-file-image-o"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery Item Block End -->
                </div>
                <!-- Gallery container End -->
                <!-- Gallery Load More Button Start-->
                <div class="col-md-12">
                    <div class="gallery-load-more-btn">
                        <a href="#">Load More Gallery</a>
                    </div>
                </div>
                <!-- Gallery Load More Button Start-->
            </div>
        </div>
    </div>
</div>
<!-- Gallery Section End -->