<!-- Event Section Start -->
<div class="event-sec pt-100 pb-70">
    <div class="container">
        <div class="row">
            <!-- Faq Area Start -->
            <div class="col-md-6">
                <div class="faq-style1-sec">
                    <h1 class="faq-style1-title">Freequently Asked Question</h1>
                    <div class="panel-group" id="accordion" role="tablist">
                        <!-- Single Faq Item Start -->
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="titleOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        What`s the mission of learapress ?</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                aria-labelledby="titleOne">
                                <div class="panel-content">
                                    Lorem ipsum dolor sit amet, mauris maecenas vel. Massa ultrices erat sit dolore.
                                    Vestibulum nunc. Nec tellus vulputate facilisis. Congue nunc enim platea, dolor
                                    lacinia arcu, vehicula nascetur purus penatibus ac pulvinar, sit ac faucibus.
                                    Vitae eros justo duis lacus iaculis eu
                                </div>
                            </div>
                        </div>
                        <!-- Single Faq Item End -->
                        <!-- Single Faq Item Start -->
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="titleTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        How can i get your service?</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="titleTwo">
                                <div class="panel-content">
                                    Lorem ipsum dolor sit amet, mauris maecenas vel. Massa ultrices erat sit dolore.
                                    Vestibulum nunc. Nec tellus vulputate facilisis. Congue nunc enim platea, dolor
                                    lacinia arcu, vehicula nascetur purus penatibus ac pulvinar, sit ac faucibus.
                                    Vitae eros justo duis lacus iaculis eu
                                </div>
                            </div>
                        </div>
                        <!-- Single Faq Item End -->
                        <!-- Single Faq Item Start -->
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="titleThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        How much exprience about learapress?</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="titleThree">
                                <div class="panel-content">
                                    Lorem ipsum dolor sit amet, mauris maecenas vel. Massa ultrices erat sit dolore.
                                    Vestibulum nunc. Nec tellus vulputate facilisis. Congue nunc enim platea, dolor
                                    lacinia arcu, vehicula nascetur purus penatibus ac pulvinar, sit ac faucibus.
                                    Vitae eros justo duis lacus iaculis eu
                                </div>
                            </div>
                        </div>
                        <!-- Single Faq Item End -->
                        <!-- Single Faq Item Start -->
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="titleFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Lorem ipsum dolor sit amet?</a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="titleFour">
                                <div class="panel-content">
                                    Lorem ipsum dolor sit amet, mauris maecenas vel. Massa ultrices erat sit dolore.
                                    Vestibulum nunc. Nec tellus vulputate facilisis. Congue nunc enim platea, dolor
                                    lacinia arcu, vehicula nascetur purus penatibus ac pulvinar, sit ac faucibus.
                                    Vitae eros justo duis lacus iaculis eu
                                </div>
                            </div>
                        </div>
                        <!-- Single Faq Item End -->
                        <!-- Single Faq Item Start -->
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="titleFive">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        how much offer for customer ?</a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="titleFive">
                                <div class="panel-content">
                                    Lorem ipsum dolor sit amet, mauris maecenas vel. Massa ultrices erat sit dolore.
                                    Vestibulum nunc. Nec tellus vulputate facilisis. Congue nunc enim platea, dolor
                                    lacinia arcu, vehicula nascetur purus penatibus ac pulvinar, sit ac faucibus.
                                    Vitae eros justo duis lacus iaculis eu
                                </div>
                            </div>
                        </div>
                        <!-- Single Faq Item End -->
                    </div>
                </div>
            </div>
            <!-- Faq Area End -->
            <!-- Event Area Start -->
            <div class="col-md-6">
                <h1 class="faq-style1-title">Join Us Our Event</h1>
                <!-- Single Event Start -->
                <div class="event-inner">
                    <div class="event-thumb">
                        <img src="/assets/img/g1.jpg" alt="" />
                        <div class="event-overlay">
                            <a href="event-details.html"><i class="fa fa-external-link"></i></a>
                        </div>
                    </div>
                    <div class="event-desc">
                        <h2><a href="#">Mel apeirian salutatus scripserit ex</a></h2>
                        <div class="event-meta">
                            <ul>
                                <li><i class="fa fa-map-marker"></i>Californiya , United State</li>
                                <li><i class="fa fa-clock-o"></i>08.00 - 11.30</li>
                            </ul>
                        </div>
                        <p>Mel apeirian salutatus scripserit ex, omnesque aliquando moderatius cum et. Affert
                            euismod scaevola qui cu.</p>
                    </div>
                </div>
                <!-- Single Event End -->
                <!-- Single Event Start -->
                <div class="event-inner">
                    <div class="event-thumb">
                        <img src="/assets/img/g2.jpg" alt="" />
                        <div class="event-overlay">
                            <a href="event-details.html"><i class="fa fa-external-link"></i></a>
                        </div>
                    </div>
                    <div class="event-desc">
                        <h2><a href="#">Mel apeirian salutatus scripserit ex</a></h2>
                        <div class="event-meta">
                            <ul>
                                <li><i class="fa fa-map-marker"></i>Californiya , United State</li>
                                <li><i class="fa fa-clock-o"></i>08.00 - 11.30</li>
                            </ul>
                        </div>
                        <p>Mel apeirian salutatus scripserit ex, omnesque aliquando moderatius cum et. Affert
                            euismod scaevola qui cu.</p>
                    </div>
                </div>
                <!-- Single Event End -->
                <!-- Single Event Start -->
                <div class="event-inner">
                    <div class="event-thumb">
                        <img src="/assets/img/g3.jpg" alt="" />
                        <div class="event-overlay">
                            <a href="event-details.html"><i class="fa fa-external-link"></i></a>
                        </div>
                    </div>
                    <div class="event-desc">
                        <h2><a href="#">Mel apeirian salutatus scripserit ex</a></h2>
                        <div class="event-meta">
                            <ul>
                                <li><i class="fa fa-map-marker"></i>Californiya , United State</li>
                                <li><i class="fa fa-clock-o"></i>08.00 - 11.30</li>
                            </ul>
                        </div>
                        <p>Mel apeirian salutatus scripserit ex, omnesque aliquando moderatius cum et. Affert
                            euismod scaevola qui cu.</p>
                    </div>
                </div>
                <!-- Single Event End -->
            </div>
            <!-- Event Area End -->
        </div>
    </div>
</div>
<!-- Event Section End -->