.active{
    // background-color: transparent;
    border-bottom: 3px solid #cb3a00;
    background-color: #fff;
    color: black;
    // box-shadow: #700603;
}

li.active{
  border-bottom: 3px solid #cb3a00 !important ;
    border-top: 1px solid #dee2e6 !important;// border-top: 3px solid #cb3a00;
    background-color: #fff !important;
    color: black !important;
    
}

 h3 {
  color: #cb3a00 ;
  font-size: 28px;
  font-weight: 700;
}

 label {
  color: #700603;
}

 .btn {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 5px 40px;
    border-radius: 50px;
    transition: 0.5s;
    border: 2px solid #700603;
    color: #700603;
    right: 3%;
    bottom: -3%;
    width: 100%;
  }

.btn:hover {
  background: #cb3a00;
  border: 2px solid #cb3a00;
  color: #fff;
}



#hero {
  width: 100%;

  min-height: 80VH;
  background: #ffedd8;
  // background: #981f1d;
  // background: #fff6f4;
}

#hero .container {
  padding-top: 72px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  color: #e47d1d;
}

