@import '/src/styles.scss';

.header-top {
    background: $yellowColor;
    padding: 0px 0;
}

.main-menu ul li a:hover {
    transition: all 0.4s 0s ease;
    color: $orangeColor;
}

a:hover {
    transition: all 0.5s ease-out !important;
    text-decoration: none !important;
    color: $orangeColor !important;
}