<header class="header-sticky">
    <!-- Header Topbar Start -->
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-8">
                    <div class="header-left">
                        <ul>
                            <li><i class="fa fa-phone"></i>+91 7567751766</li>
                            <li><i class="fa fa-envelope-o"></i>devvidhaanam@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5 col-sm-4">
                    <div class="header-right-div">
                        <div class="soical-profile">
                            <span class="social-title">Follow Us</span>
                            <ul>
                                <li>
                                    <a href="https://www.instagram.com/devvidhaanam/" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/profile.php?id=100092199191387" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/maps/place/Dev+Vidhaanam/@22.4158825,71.3269721,7z/data=!4m2!3m1!1s0x0:0xe98f5cb55e85c422?sa=X&ved=2ahUKEwjb-sCg7MiEAxUDdmwGHYJ8A0UQ_BJ6BAhFEAA"
                                        target="_blank">
                                        <i class="fa fa-google"></i></a>
                                </li>
                                <!-- <li><a href="#" target="_blank"><i class="fa fa-skype"></i></a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Topbar End -->
    <!-- Main Bar Start -->
    <div class="hd-sec">
        <div class="container">
            <div class="row">
                <!-- Logo Start -->
                <div class="col-md-3 col-sm-12 col-xs-8">
                    <div class="logo">
                        <a><img src="assets/logo.png" alt="" width="32%" /></a>
                    </div>
                </div>
                <!-- Logo End -->
                <!-- Main Menu Start -->
                <div class="mobile-nav-menu"></div>
                <div class="col-md-7 col-sm-9 menu-center">
                    <div class="menu">
                        <nav id="main-menu" class="main-menu">
                            <ul>
                                <li routerLinkActive="active"><a [routerLink]="''">Home</a>
                                </li>
                                <li [routerLinkActive]="'active'"><a [routerLink]="'services'">Service </a>
                                </li>
                                <!-- <li><a href="course.html">Course</a>
                                    <ul>
                                        <li><a href="course.html">Course Page</a></li>
                                        <li><a href="course-isotop.html">Course isotop</a></li>
                                        <li><a href="course-slider.html">Course Slider</a></li>
                                        <li><a href="course-details.html">Course Details</a></li>
                                    </ul>
                                </li>-->
                                <li><a href="about.html">About</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                        <!-- Menu Search Bar Start -->
                        <div class="search-bar-icon">
                            <div class="site-search">
                                <span data-toggle="dropdown"><i class="fa fa-search"></i></span>
                                <div class="search-forum dropdown-menu animation slideUpIn">
                                    <form action="#">
                                        <input id="searchBar" name="searchBar" placeholder="Search For Site"
                                            type="text">
                                        <input type="submit" value="Go" id="searchButton" name="searchButton" />
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Menu Search Bar End -->
                    </div>
                </div>
                <!-- Main Menu End -->
                <!-- Main Apply Button Start -->
                <div class="col-md-2 col-sm-3 applay-button-area">
                    <div class="applay-button">
                        <a href="#">Apply Now</a>
                    </div>
                </div>
                <!-- Main Apply Button End -->
            </div>
        </div>
    </div>
    <!-- Main Bar End -->
</header>
<!-- Header End -->