<header>
    <!-- Header Topbar Start -->
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-8">
                    <div class="header-left">
                        <ul>
                            <li><i class="fa fa-phone"></i>+91 7567751766</li>
                            <li><i class="fa fa-envelope-o"></i>devvidhaanam@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5 col-sm-4">
                    <div class="header-right-div">
                        <div class="soical-profile">
                            <span class="social-title">Follow Us</span>
                            <ul>
                                <li>
                                    <a href="https://www.instagram.com/devvidhaanam/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://devvidhaanam.com/" target="_blank">
                                        <i class="fa fa-google"></i></a>
                                </li>
                                <!-- <li><a href="#" target="_blank"><i class="fa fa-skype"></i></a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Topbar End -->
    <!-- Main Bar Start -->
    <div class="hd-sec">
        <div class="container">
            <div class="row">
                <!-- Logo Start -->
                <div class="col-md-3 col-sm-12 col-xs-8">
                    <div class="logo">
                        <a><img src="assets/logo.png" alt="" /></a>
                    </div>
                </div>
                <!-- Logo End -->
                <!-- Main Menu Start -->
                <div class="mobile-nav-menu"></div>
                <div class="col-md-7 col-sm-9 menu-center">
                    <div class="menu">
                        <nav id="main-menu" class="main-menu">
                            <ul>
                                <li class="active"><a href="index-2.html">Home</a>
                                    <ul>
                                        <li><a href="index-2.html">Home Version 1</a></li>
                                        <li><a href="index-3.html">Home Version 2</a></li>
                                        <li><a href="index-4.html">Home Version 3</a></li>
                                        <li><a href="index-5.html">Home Version 4</a></li>
                                        <li><a href="index-6.html">Home Version 5</a></li>
                                        <li><a href="index-7.html">Home Version 6</a></li>
                                    </ul>
                                </li>
                                <li><a href="research.html">Reasearch </a>
                                    <ul>
                                        <li><a href="research.html">Research Page</a></li>
                                        <li><a href="research-details.html">Research Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="course.html">Course</a>
                                    <ul>
                                        <li><a href="course.html">Course Page</a></li>
                                        <li><a href="course-isotop.html">Course isotop</a></li>
                                        <li><a href="course-slider.html">Course Slider</a></li>
                                        <li><a href="course-details.html">Course Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="event.html">event</a>
                                    <ul>
                                        <li><a href="event.html">Event Page</a></li>
                                        <li><a href="event-with-sidebar.html">Event With Sidebar</a></li>
                                        <li><a href="event-3-column.html">Event 3 Column</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Page</a>
                                    <ul>
                                        <li><a href="about.html">about us</a></li>
                                        <li><a href="gallery.html">gallery Page</a></li>
                                        <li><a href="instuctor.html">instuctor Page</a></li>
                                        <li><a href="faq.html">faq Page</a></li>
                                        <li><a href="404.html">404 Page</a></li>
                                        <li><a href="#">Level 3 Menu<i class="fa fa-angle-right"></i></a>
                                            <ul>
                                                <li><a href="#">Level 3 SubMenu</a></li>
                                                <li><a href="#">Level 3 SubMenu</a></li>
                                                <li><a href="#">Level 3 SubMenu</a></li>
                                                <li><a href="#">Level 3 SubMenu</a></li>
                                                <li><a href="#">Level 3 SubMenu</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="blog.html">blog</a>
                                    <ul>
                                        <li><a href="blog.html">blog</a></li>
                                        <li><a href="blog-2-column.html">blog 2 Column</a></li>
                                        <li><a href="blog-3-column.html">blog 3 Column</a></li>
                                        <li><a href="blog-left-sidebar.html">blog Left Sidebar</a></li>
                                        <li><a href="blog-list.html">blog List</a></li>
                                        <li><a href="blog-details.html">blog Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                        <!-- Menu Search Bar Start -->
                        <div class="search-bar-icon">
                            <div class="site-search">
                                <span data-toggle="dropdown"><i class="fa fa-search"></i></span>
                                <div class="search-forum dropdown-menu animation slideUpIn">
                                    <form action="#">
                                        <input placeholder="Search For Site" type="text">
                                        <input type="submit" value="Go" />
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Menu Search Bar End -->
                    </div>
                </div>
                <!-- Main Menu End -->
                <!-- Main Apply Button Start -->
                <div class="col-md-2 col-sm-3 applay-button-area">
                    <div class="applay-button">
                        <a href="#">Apply Now</a>
                    </div>
                </div>
                <!-- Main Apply Button End -->
            </div>
        </div>
    </div>
    <!-- Main Bar End -->
</header>
<!-- Header End -->