<!-- Slider Section Start -->
<app-sliders></app-sliders>
<!-- Slider Section End -->
<!-- About Us Section Start -->
<app-about></app-about>
<!-- About Us Section End -->
<!-- Course Heading Section Start --> <!-- Course Section Start --> <!-- Another Course Section Start -->
<app-features></app-features>
<!-- Course Heading Section End --> <!-- Course Section End --> <!-- Another Course Section End -->
<!-- Count Up Section Start -->
<app-counts></app-counts>
<!-- Count Up Section End -->
<!-- Gallery Section Start -->
<app-gallery></app-gallery>
<!-- Gallery Section End -->
<!-- Why Choose Us Start -->
<app-why-choose-us></app-why-choose-us>
<!-- Why Choose Us End -->
<!-- Instructor Section Start -->
<app-our-team></app-our-team>
<!-- Instructor Section End -->
<!-- Testimonial Section Start -->
<app-testimonial></app-testimonial>
<!-- Testimonial Section End -->
<!-- Event Section Start -->
<app-events></app-events>
<!-- Event Section End -->
<!-- Call To Action Section Start -->
<app-cta></app-cta>
<!-- Call To Action Section Start -->
<!-- Blog Section Start -->
<app-blogs></app-blogs>
<!-- Blog Section End -->