<!-- Page Heading Section Start -->
<div class="pagehding-sec">
    <div class="images-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-heading">
                    <h1>Event details</h1>
                </div>
                <div class="breadcrumb-list">
                    <ul>
                        <li><a href="index-2.html">Home</a></li>
                        <li><a href="#">Event details</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Heading Section End -->
<!-- Service Details Section Start -->
<div class="event-details-page pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="event-details-img">
                    <img src="assets/img/event-details.jpg" alt="" />
                </div>
                <div class="event-details-text">
                    <div class="event-desc">
                        <div class="event-meta">
                            <ul>
                                <li><i class="fa fa-map-marker"></i>Californiya , United State</li>
                                <li><i class="fa fa-clock-o"></i>08.00 - 11.30</li>
                            </ul>
                        </div>
                        <h2><a href="#">Mel apeirian salutatus scripserit ex</a></h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, blandit adipisicing ultricies sed molestias ligula id, omnis
                        pellentesque, mauris vivamus faucibus nulla iaculis erat risus, suspendisse non aliquam mauris
                        risus dui. Et dolor posuere, metus wisi. Justo erat ipsum dolor suscipit augue rerum, nulla quis
                        hymenaeos velit nulla neque, vitae parturient porttitor. iaculis erat risus, suspendisse non
                        aliquam</p>
                    <p>mauris risus dui. Et dolor posuere, metus wisi. Justo erat ipsum dolor suscipit augue rerum,
                        nulla quis hymenaeos velit nulla neque, vitae parturient porttitor.mauris risus dui. Et dolor
                        posuere, metus wisi. Justo erat ipsum dolor suscipit augue rerum, nulla quis hymenaeos velit
                        nulla neque, vitae parturient porttitor.mauris risus dui. Et dolor posuere, metus wisi. Justo
                        erat ipsum dolor suscipit augue rerum, nulla quis hymenaeos velit nulla neque, vitae parturient
                        porttitor. </p>
                    <p>mauris risus dui. Et dolor posuere, metus wisi. Justo erat ipsum dolor suscipit augue rerum,
                        nulla quis hymenaeos velit nulla neque, vitae parturient porttitor.mauris risus dui. Et dolor
                        posuere, metus wisi. Justo erat ipsum dolor suscipit augue rerum, nulla quis hymenaeos velit
                        nulla neque, vitae parturient porttitor.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="event-sidebar">
                    <div class="event-details-info">
                        <h2>Event Info</h2>
                        <ul>
                            <li>starting Date<span>25 July 2018</span></li>
                            <li>Start time <span>09.00 am</span></li>
                            <li>Ending Date<span>25 July 2018</span></li>
                            <li>Ending time <span>10.00 am</span></li>
                            <li>Participants Number<span>150</span></li>
                            <li>Address<span>Californiya , United State</span></li>
                            <li>website<span>http://yoursite.com/</span></li>
                        </ul>
                    </div>
                    <div class="related-event">
                        <h2 class="event-title">Related Event</h2>
                        <div class="event-inner">
                            <div class="event-thumb">
                                <img src="assets/img/why_us_3.jpg" alt="" />
                                <div class="event-overlay">
                                    <a href="event-details.html"><i class="fa fa-external-link"></i></a>
                                </div>
                            </div>
                            <div class="event-desc">
                                <h2><a href="#">Mel apeirian salutatus scripserit ex</a></h2>
                                <div class="event-meta">
                                    <ul>
                                        <li><i class="fa fa-map-marker"></i>Californiya , United State</li>
                                        <li><i class="fa fa-clock-o"></i>08.00 - 11.30</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service Details Section End -->