<!-- Why Choose Us Start -->
<div class="why-choose-us-sec pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sec-title">
                    <h1>Why Choose Us Course</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="why-choose-all">
                    <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideConfig" class="carousel">
                        <div ngxSlickItem class="slide-item" *ngFor="let data of dataLists">
                            <div class="why-choose-inner" style="margin:0px 10px">
                                <div class="why-choose-thumb">
                                    <img [src]="data.thumbImage" alt="" />
                                    <div class="why-choose-icon">
                                        <img [src]="data.icon" alt="" />
                                    </div>
                                </div>
                                <div class="why-choose-text">
                                    <h2><a href="#">{{data.title}}</a></h2>
                                    <p>{{data.description}}</p>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Why Choose Us End -->