<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                data-aos="fade-up" data-aos-delay="200">
                <h1 style="text-align: justify;">{{"Better_Solutions_with_Jyotish_and_Karmmakand" | translate}}</h1>
                <h2 style="text-align: justify;">
                    {{"We_are_a_group_of_talented_brahmins_providing_solutions_through_authentic_jyotish(astrology)_and_karmakand(ritual_practices)"
                    | translate}}</h2>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="assets/logo.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->