<!-- Course Heading Section Start -->
<div class="course-header-sec">
    <div class="course-sec-image"></div>
</div>
<!-- Course Heading Section End -->
<!-- Course Section Start -->
<div class="course-sec pb-70">
    <div class="container">
        <!-- Section Title Start -->
        <div class="row">
            <div class="col-md-12">
                <div class="sec-title">
                    <h1>Our Feature Course</h1>
                </div>
            </div>
        </div>
        <!-- Section Title End -->
        <div class="row">
            <div class="course-list-sec">
                <div class="all-course">
                    <!-- Course Single Inner Start -->
                    <div class="course-inner">
                        <div class="course-thumb">
                            <img src="/assets/img/course_1.jpg" alt="" />
                            <div class="teacher-thumb">
                                <img src="/assets/img/teacher_1.jpg" alt="" />
                            </div>
                            <div class="readmore-button">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                        <div class="course-meta">
                            <span class="course-price">$550</span>
                            <span class="course-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                        </div>
                        <div class="course-desc">
                            <h2><a href="#">affiliate marketing</a></h2>
                            <p>Ludus nemore qui ex. Verear luptatum principes sit ad.</p>
                        </div>
                        <div class="course-info">
                            <ul>
                                <li><a href="#"><i class="fa fa-user"></i>24 Seats</a></li>
                                <li><a href="#"><i class="fa fa-clock-o"></i>4 hour</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i>Save</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Course Single Inner End -->
                    <!-- Course Single Inner Start -->
                    <div class="course-inner">
                        <div class="course-thumb">
                            <img src="/assets/img/course_2.jpg" alt="" />
                            <div class="teacher-thumb">
                                <img src="/assets/img/teacher_2.jpg" alt="" />
                            </div>
                            <div class="readmore-button">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                        <div class="course-meta">
                            <span class="course-price">$250</span>
                            <span class="course-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                        </div>
                        <div class="course-desc">
                            <h2><a href="#">Graphics Design</a></h2>
                            <p>Ludus nemore qui ex. Verear luptatum principes sit ad.</p>
                        </div>
                        <div class="course-info">
                            <ul>
                                <li><a href="#"><i class="fa fa-user"></i>24 Seats</a></li>
                                <li><a href="#"><i class="fa fa-clock-o"></i>4 hour</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i>Save</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Course Single Inner End -->
                    <!-- Course Single Inner Start -->
                    <div class="course-inner">
                        <div class="course-thumb">
                            <img src="/assets/img/course_4.jpg" alt="" />
                            <div class="teacher-thumb">
                                <img src="/assets/img/teacher_3.jpg" alt="" />
                            </div>
                            <div class="readmore-button">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                        <div class="course-meta">
                            <span class="course-price">$350</span>
                            <span class="course-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                        </div>
                        <div class="course-desc">
                            <h2><a href="#">Web Development</a></h2>
                            <p>Ludus nemore qui ex. Verear luptatum principes sit ad.</p>
                        </div>
                        <div class="course-info">
                            <ul>
                                <li><a href="#"><i class="fa fa-user"></i>24 Seats</a></li>
                                <li><a href="#"><i class="fa fa-clock-o"></i>4 hour</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i>Save</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Course Single Inner End -->
                    <!-- Course Single Inner Start -->
                    <div class="course-inner">
                        <div class="course-thumb">
                            <img src="/assets/img/course_3.jpg" alt="" />
                            <div class="teacher-thumb">
                                <img src="/assets/img/teacher_1.jpg" alt="" />
                            </div>
                            <div class="readmore-button">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                        <div class="course-meta">
                            <span class="course-price">$450</span>
                            <span class="course-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                        </div>
                        <div class="course-desc">
                            <h2><a href="#">Search Engine Optimization(SEO)</a></h2>
                            <p>Ludus nemore qui ex. Verear luptatum principes sit ad.</p>
                        </div>
                        <div class="course-info">
                            <ul>
                                <li><a href="#"><i class="fa fa-user"></i>24 Seats</a></li>
                                <li><a href="#"><i class="fa fa-clock-o"></i>4 hour</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i>Save</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Course Single Inner End -->
                    <!-- Course Single Inner Start -->
                    <div class="course-inner">
                        <div class="course-thumb">
                            <img src="/assets/img/course_5.jpg" alt="" />
                            <div class="teacher-thumb">
                                <img src="/assets/img/teacher_2.jpg" alt="" />
                            </div>
                            <div class="readmore-button">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                        <div class="course-meta">
                            <span class="course-price">$450</span>
                            <span class="course-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                        </div>
                        <div class="course-desc">
                            <h2><a href="#">Article Writing</a></h2>
                            <p>Ludus nemore qui ex. Verear luptatum principes sit ad.</p>
                        </div>
                        <div class="course-info">
                            <ul>
                                <li><a href="#"><i class="fa fa-user"></i>24 Seats</a></li>
                                <li><a href="#"><i class="fa fa-clock-o"></i>4 hour</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i>Save</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Course Single Inner End -->
                    <!-- Course Single Inner Start -->
                    <div class="course-inner">
                        <div class="course-thumb">
                            <img src="/assets/img/course_6.jpg" alt="" />
                            <div class="teacher-thumb">
                                <img src="/assets/img/teacher_3.jpg" alt="" />
                            </div>
                            <div class="readmore-button">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                        <div class="course-meta">
                            <span class="course-price">$450</span>
                            <span class="course-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                        </div>
                        <div class="course-desc">
                            <h2><a href="#">Virtual Assitance</a></h2>
                            <p>Ludus nemore qui ex. Verear luptatum principes sit ad.</p>
                        </div>
                        <div class="course-info">
                            <ul>
                                <li><a href="#"><i class="fa fa-user"></i>24 Seats</a></li>
                                <li><a href="#"><i class="fa fa-clock-o"></i>4 hour</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i>Save</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Course Single Inner End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Course Section End -->
<!-- Another Course Section Start -->
<div class="another-course-sec pb-70">
    <div class="container">
        <!-- Section Title Start -->
        <div class="row">
            <div class="col-md-12">
                <div class="sec-title">
                    <h1>Another Course</h1>
                    <p>Lorem ipsum dolor sit amet, lorem nibh lectus urna arcu, lorem erat semper, auctor
                        suspendisse quisque molestie ut. Elit massa dui, leo enim magna. Cursus maecenas cubilia, ac
                        nonummy, egestas mauris .</p>
                </div>
            </div>
        </div>
        <!-- Section Title End -->
        <div class="row">
            <!-- Course Single Inner Start -->
            <div class="col-md-4">
                <div class="course-inner">
                    <div class="course-thumb">
                        <img src="/assets/img/course_1.jpg" alt="" />
                        <div class="teacher-thumb">
                            <img src="/assets/img/teacher_1.jpg" alt="" />
                        </div>
                        <div class="readmore-button">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                    <div class="course-meta">
                        <span class="course-price">$250</span>
                        <span class="course-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </span>
                    </div>
                    <div class="course-desc">
                        <h2><a href="#">Support center</a></h2>
                        <p>Ludus nemore qui ex. Verear luptatum principes sit ad.</p>
                    </div>
                    <div class="course-info">
                        <ul>
                            <li><a href="#"><i class="fa fa-user"></i>28 Seats</a></li>
                            <li><a href="#"><i class="fa fa-clock-o"></i>6 hour</a></li>
                            <li><a href="#"><i class="fa fa-heart"></i>Save</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Course Single Inner End -->
            <!-- Course Single Inner Start -->
            <div class="col-md-4">
                <div class="course-inner">
                    <div class="course-thumb">
                        <img src="/assets/img/course_2.jpg" alt="" />
                        <div class="teacher-thumb">
                            <img src="/assets/img/teacher_2.jpg" alt="" />
                        </div>
                        <div class="readmore-button">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                    <div class="course-meta">
                        <span class="course-price">$150</span>
                        <span class="course-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </span>
                    </div>
                    <div class="course-desc">
                        <h2><a href="#">Web Development</a></h2>
                        <p>Ludus nemore qui ex. Verear luptatum principes sit ad.</p>
                    </div>
                    <div class="course-info">
                        <ul>
                            <li><a href="#"><i class="fa fa-user"></i>26 Seats</a></li>
                            <li><a href="#"><i class="fa fa-clock-o"></i>5 hour</a></li>
                            <li><a href="#"><i class="fa fa-heart"></i>Save</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Course Single Inner End -->
            <!-- Course Single Inner Start -->
            <div class="col-md-4">
                <div class="course-inner">
                    <div class="course-thumb">
                        <img src="/assets/img/course_3.jpg" alt="" />
                        <div class="teacher-thumb">
                            <img src="/assets/img/teacher_3.jpg" alt="" />
                        </div>
                        <div class="readmore-button">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                    <div class="course-meta">
                        <span class="course-price">$350</span>
                        <span class="course-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </span>
                    </div>
                    <div class="course-desc">
                        <h2><a href="#">motion graphics</a></h2>
                        <p>Ludus nemore qui ex. Verear luptatum principes sit ad.</p>
                    </div>
                    <div class="course-info">
                        <ul>
                            <li><a href="#"><i class="fa fa-user"></i>23 Seats</a></li>
                            <li><a href="#"><i class="fa fa-clock-o"></i>6 hour</a></li>
                            <li><a href="#"><i class="fa fa-heart"></i>Save</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Course Single Inner End -->
        </div>
    </div>
</div>
<!-- Another Course Section End -->