<!-- Count Up Section Start -->
<div class="count-up-sec">
    <div class="count-up-sec-overlay"></div>
    <div class="container">
        <div class="row">
            <!-- Count Up Inner Start -->
            <div class="col-md-3 col-sm-6 col-xs-6 inner">
                <div class="count-up-inner">
                    <div class="count-up-icon">
                        <img src="/assets/img/icon/employee.png" alt="" />
                    </div>
                    <div class="countup-text">
                        <h2 class="counter">246</h2>
                        <h4>Expert Instructor</h4>
                    </div>
                </div>
            </div>
            <!-- Count Up Inner End -->
            <!-- Count Up Inner Start -->
            <div class="col-md-3 col-sm-6 col-xs-6 inner">
                <div class="count-up-inner">
                    <div class="count-up-icon">
                        <img src="/assets/img/icon/customer.png" alt="" />
                    </div>
                    <div class="countup-text">
                        <h2 class="counter">416</h2>
                        <h4>happy student</h4>
                    </div>
                </div>
            </div>
            <!-- Count Up Inner End -->
            <!-- Count Up Inner Start -->
            <div class="col-md-3 col-sm-6 col-xs-6 inner">
                <div class="count-up-inner">
                    <div class="count-up-icon">
                        <img src="/assets/img/icon/project.png" alt="" />
                    </div>
                    <div class="countup-text">
                        <h2 class="counter">648</h2>
                        <h4>course Done</h4>
                    </div>
                </div>
            </div>
            <!-- Count Up Inner End -->
            <!-- Count Up Inner Start -->
            <div class="col-md-3 col-sm-6 col-xs-6 inner">
                <div class="count-up-inner">
                    <div class="count-up-icon">
                        <img src="/assets/img/icon/medal.png" alt="" />
                    </div>
                    <div class="countup-text">
                        <h2 class="counter">824</h2>
                        <h4>award winner</h4>
                    </div>
                </div>
            </div>
            <!-- Count Up Inner End -->
        </div>
    </div>
</div>
<!-- Count Up Section End -->