<div class="blog-sec pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sec-title">
                    <h1>our latest post</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="all-latest-news">
                    <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideConfig" class="carousel">
                        <div ngxSlickItem class="slide-item mx-3" *ngFor="let blog of blogsLists">
                            <div class="single-post" style="margin:0px 5px">
                                <div class="single-post-thumb">
                                    <img [src]="blog.image" alt="" />
                                    <div class="single-post-thumb-overlay">
                                        <div class="post-meta">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-user"></i>{{blog.role}}</a></li>
                                                <li><a href="#"><i class="fa fa-calendar"></i>{{blog.date}}</a></li>
                                                <li><a href="#"><i class="fa fa-comment-o"></i>{{blog.comments}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-post-text">
                                    <h2><a [href]="blog.navLink">{{blog.linkText}}</a></h2>
                                    <p>{{blog.linkDescription}}</p>
                                    <a [href]="blog.navLink" class="blog-readmore">{{blog.continue}}</a>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</div>