<!-- Blog Section Start -->
<div class="blog-sec pt-100 pb-70">
    <div class="container">
        <!-- Section Title Start -->
        <div class="row">
            <div class="col-md-12">
                <div class="sec-title">
                    <h1>our latest post</h1>
                </div>
            </div>
        </div>
        <!-- Section Title End -->
        <div class="row">
            <div class="col-md-12">
                <div class="all-latest-news">
                    <!-- Single Blog Item Start -->
                    <div class="single-post">
                        <div class="single-post-thumb">
                            <img src="/assets/img/b1.jpg" alt="" />
                            <div class="single-post-thumb-overlay">
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i>Admin</a></li>
                                        <li><a href="#"><i class="fa fa-calendar"></i>1 Jan 2018</a></li>
                                        <li><a href="#"><i class="fa fa-comment-o"></i>36</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-post-text">
                            <h2><a href="blog-details.html">write a good professional server-side scripting language
                                    php code</a></h2>
                            <p>Lorem ipsum dolor sit amet, fusce adipiscing at sed aliquam pellentesque eu, etiam in
                                massa. Sagittis urna tellus augue montes .</p>
                            <a href="blog-details.html" class="blog-readmore">Continue reading</a>
                        </div>
                    </div>
                    <!-- Single Blog Item End -->
                    <!-- Single Blog Item Start -->
                    <div class="single-post">
                        <div class="single-post-thumb">
                            <img src="/assets/img/b2.jpg" alt="" />
                            <div class="single-post-thumb-overlay">
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i>Admin</a></li>
                                        <li><a href="#"><i class="fa fa-calendar"></i>1 Jan 2018</a></li>
                                        <li><a href="#"><i class="fa fa-comment-o"></i>36</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-post-text">
                            <h2><a href="blog-details.html">Most Popular Python to build desktop apps and web
                                    apps</a></h2>
                            <p>Lorem ipsum dolor sit amet, fusce adipiscing at sed aliquam pellentesque eu, etiam in
                                massa. Sagittis urna tellus augue montes .</p>
                            <a href="blog-details.html" class="blog-readmore">Continue reading</a>
                        </div>
                    </div>
                    <!-- Single Blog Item End -->
                    <!-- Single Blog Item Start -->
                    <div class="single-post">
                        <div class="single-post-thumb">
                            <img src="/assets/img/b3.jpg" alt="" />
                            <div class="single-post-thumb-overlay">
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i>Admin</a></li>
                                        <li><a href="#"><i class="fa fa-calendar"></i>1 Jan 2018</a></li>
                                        <li><a href="#"><i class="fa fa-comment-o"></i>36</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-post-text">
                            <h2><a href="blog-details.html">Java Programing language use for apps, game develop</a>
                            </h2>
                            <p>Lorem ipsum dolor sit amet, fusce adipiscing at sed aliquam pellentesque eu, etiam in
                                massa. Sagittis urna tellus augue montes .</p>
                            <a href="blog-details.html" class="blog-readmore">Continue reading</a>
                        </div>
                    </div>
                    <!-- Single Blog Item End -->
                    <!-- Single Blog Item Start -->
                    <div class="single-post">
                        <div class="single-post-thumb">
                            <img src="/assets/img/b1.jpg" alt="" />
                            <div class="single-post-thumb-overlay">
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i>Admin</a></li>
                                        <li><a href="#"><i class="fa fa-calendar"></i>1 Jan 2018</a></li>
                                        <li><a href="#"><i class="fa fa-comment-o"></i>36</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-post-text">
                            <h2><a href="blog-details.html">write a good professional server-side scripting language
                                    php code</a></h2>
                            <p>Lorem ipsum dolor sit amet, fusce adipiscing at sed aliquam pellentesque eu, etiam in
                                massa. Sagittis urna tellus augue montes .</p>
                            <a href="blog-details.html" class="blog-readmore">Continue reading</a>
                        </div>
                    </div>
                    <!-- Single Blog Item End -->
                    <!-- Single Blog Item Start -->
                    <div class="single-post">
                        <div class="single-post-thumb">
                            <img src="/assets/img/b2.jpg" alt="" />
                            <div class="single-post-thumb-overlay">
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i>Admin</a></li>
                                        <li><a href="#"><i class="fa fa-calendar"></i>1 Jan 2018</a></li>
                                        <li><a href="#"><i class="fa fa-comment-o"></i>36</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-post-text">
                            <h2><a href="blog-details.html">Most Popular Python to build desktop apps and web
                                    apps</a></h2>
                            <p>Lorem ipsum dolor sit amet, fusce adipiscing at sed aliquam pellentesque eu, etiam in
                                massa. Sagittis urna tellus augue montes .</p>
                            <a href="blog-details.html" class="blog-readmore">Continue reading</a>
                        </div>
                    </div>
                    <!-- Single Blog Item End -->
                    <!-- Single Blog Item Start -->
                    <div class="single-post">
                        <div class="single-post-thumb">
                            <img src="/assets/img/b3.jpg" alt="" />
                            <div class="single-post-thumb-overlay">
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i>Admin</a></li>
                                        <li><a href="#"><i class="fa fa-calendar"></i>1 Jan 2018</a></li>
                                        <li><a href="#"><i class="fa fa-comment-o"></i>36</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-post-text">
                            <h2><a href="blog-details.html">Java Programing language use for apps, game develop</a>
                            </h2>
                            <p>Lorem ipsum dolor sit amet, fusce adipiscing at sed aliquam pellentesque eu, etiam in
                                massa. Sagittis urna tellus augue montes .</p>
                            <a href="blog-details.html" class="blog-readmore">Continue reading</a>
                        </div>
                    </div>
                    <!-- Single Blog Item End -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Section End -->