<!-- ======= About Us Section ======= -->
<section id="about" class="about my-3">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2 class="text-center">About Us</h2>
        </div>

        <div class="row content">
            <div class="col-lg-12">
                <p style="text-align: justify;">
                    Dev Vidhanam is a platform where you can discover true understanding and knowledge of Sanatan Dharma
                    (Eternal Religion).
                    It is based on the fundamental pillars of Jyotish (astrology), Karm-Kand (ritual practices), and
                    Shastra (scriptures).
                    The mission of Dev Vidhanam Group is to provide a genuine understanding of Sanatan Dharma to the
                    world and enable
                    individuals to find solutions to their challenges by embracing the rich Indian cultural heritage.
                    The harmonious
                    integration of Jyotish and Karm-Kand can provide solutions to even the most significant
                    difficulties. This mission is
                    supported by renowned educational institutions such as Saandipani Vidyaniketan and Solaa Bhagwat
                    Vidhyapeeth, where
                    every Brahmin associated with Dev Vidhanam has received education. Our group has been actively
                    engaged in this work for
                    the past 10 years, and now our mission is to spread the flag of Sanatan Dharma worldwide. Dev
                    Vidhanam Group provides
                    proper guidance for performing rituals such as resolving planetary afflictions (grah-dosh),
                    rectifying Vastu defects,
                    conducting devotional prayers and yagnas tailored to individual desires (kamna-anusar), including
                    invoking blessings for
                    prosperity, progeny, health, and more. We offer comprehensive guidance for performing these rituals
                    in accordance with
                    the principles of Karm-Kand and Jyotish.
                </p>
                <!-- <ul>
                    <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat
                    </li>
                    <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit
                    </li>
                    <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat
                    </li>
                </ul>
                <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p> -->
                <!-- <a href="#" class="btn-learn-more">Learn More</a> -->
            </div>
            <!-- <div class="col-lg-6 pt-4 pt-lg-0">
                <img src="../../../assets/logo.png" class="width">
            </div> -->
        </div>

    </div>
</section>
<!-- End About Us Section -->