<!-- Testimonial Section Start -->
<div class="testimonial-sec pt-100 pb-100">
    <div class="testimonial-sec-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="all-testimonial">
                    <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideConfig" class="carousel">
                        <div ngxSlickItem class="slide-item">
                            <div class="single-testimonial">
                                <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis
                                    donec, suscipit tortor et sapien donec ac nec.Lorem ipsum dolor sit amet, ligula
                                    magna
                                    at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec
                                    ac
                                    nec.</p>
                                <div class="testimonial">
                                    <div class="inner">
                                        <div class="client-info">
                                            <h2>Michael</h2>
                                            <h3>Ceo & Founder</h3>
                                        </div>
                                    </div>
                                    <div class="inner">
                                        <div class="testimonial-client-img">
                                            <img src="/assets/img/testimonial_1.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ngxSlickItem class="slide-item">
                            <div class="single-testimonial">
                                <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis
                                    donec, suscipit tortor et sapien donec ac nec.Lorem ipsum dolor sit amet, ligula
                                    magna
                                    at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec
                                    ac
                                    nec.</p>
                                <div class="testimonial">
                                    <div class="inner">
                                        <div class="client-info">
                                            <h2>lucie</h2>
                                            <h3>Ceo & Founder</h3>
                                        </div>
                                    </div>
                                    <div class="inner">
                                        <div class="testimonial-client-img">
                                            <img src="/assets/img/testimonial_2.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ngxSlickItem class="slide-item">
                            <div class="single-testimonial">
                                <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis
                                    donec, suscipit tortor et sapien donec ac nec.Lorem ipsum dolor sit amet, ligula
                                    magna
                                    at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec
                                    ac
                                    nec.</p>
                                <div class="testimonial">
                                    <div class="inner">
                                        <div class="client-info">
                                            <h2>Benjamin</h2>
                                            <h3>Ceo & Founder</h3>
                                        </div>
                                    </div>
                                    <div class="inner">
                                        <div class="testimonial-client-img">
                                            <img src="/assets/img/testimonial_3.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ngx-slick-carousel>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
<!-- Testimonial Section End -->