<header [ngClass]="{'scroll': isScrolled}" *ngIf="!isShowPujaDetail">
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href="#">Dev Vidhanam</a> -->
            <button class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation"
                (click)="onToggleName()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarSupportedContent"
                [ngClass]="isShow?'collapse navbar-collapse show':'collapse navbar-collapse'">
                <ul class="navbar-nav">
                    <li class="nav-item" [routerLinkActive]="'active'" (click)="onclose()">
                        <a class="nav-link" [routerLink]="'/web'">{{ "Home" | translate }}</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="'active'" (click)="onclose()">
                        <a class="nav-link" [routerLink]="'/web'" (click)="scrollToElement('about')"
                            (click)="scrollToTarget('about')">{{ "About" |
                            translate }}</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="'active'" (click)="onclose()">
                        <a class="nav-link" [routerLink]="'/web'" (click)="scrollToElement('services')"
                            (click)="scrollToTarget('services')">{{"Service" |
                            translate}}</a>
                    </li>
                    <!-- <li class="nav-item" [routerLinkActive]="'active'" (click)="onclose()">
                        <a class="nav-link" [routerLink]="'Blog'">Blog</a>
                    </li> -->
                    <!-- <li class="nav-item" [routerLinkActive]="'active'" (click)="onclose()">
                        <a class="nav-link" [routerLink]="'/web/gallery'">Gallery</a>
                    </li> -->
                    <li class="nav-item" [routerLinkActive]="'active'" (click)="onclose()">
                        <a class="nav-link" [routerLink]="'/web'" (click)="scrollToElement('contact')"
                            (click)="scrollToTarget('contact')">{{"Contact" |
                            translate}}</a>
                    </li>
                    <select class="form-select" aria-label="Default select example"
                        (change)="onChange_Language($event)">
                        <!-- <option selected>Open this select menu</option> -->
                        <option value="hi" selected>Hindi</option>
                        <option value="en">English</option>
                        <option value="gu">Gujarati</option>
                    </select>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- <header *ngIf="isShowPujaDetail">
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation" style="background: white">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <img alt="image" src="assets/img/logo/logo-dashboard.png" />
                        </div>


                    </li>
                    <li (click)="addClasses('isJyotish')" [ngClass]="isJyotish">
                        <a aria-expanded="false"><i class="mdi mdi-book-cog-outline"></i>
                            <span class="nav-label">Jyotish</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse" [ngClass]="isJyotishChild" aria-expanded="false">
                            <li><a>View Project</a></li>
                            <li><a>Add Project</a></li>
                        </ul>
                    </li>
                    <li (click)="addClasses('isKarmaKand')" [ngClass]="isKarmaKand" routerLinkActive="active">
                        <a aria-expanded="false">
                            <i class="mdi mdi-book-clock"></i>
                            <span class="nav-label">Karma Kand</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse" routerLinkActive=" in " [ngClass]="isKarmaKandChild"
                            aria-expanded="false">
                            <li><a>Approvals</a></li>
                            <li><a>Revisions</a></li>
                        </ul>
                    </li>
                    <li (click)="addClasses('isSastraParichay')" [ngClass]="isSastraParichay">
                        <a aria-expanded="false"><i class="mdi mdi-format-list-bulleted"></i>
                            <span class="nav-label">Sastra Parichay</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse" [ngClass]="isSastraParichayChild"
                            aria-expanded="false">
                            <li><a>Add Task</a></li>
                            <li><a>User - Task List</a></li>
                            <li><a>Team - Task List</a></li>
                            <li><a>Org. - Task List</a></li>
                            <li><a>Task Templates</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav> -->

<!-- <div id="page-wrapper" class="dashboard-1">
            <div class="col-md-12">
                <div class="row">
                    <nav class="navbar navbar-default navbar-expand-md navbar-static-top white-bg headerBackground"
                        style="margin-bottom: 0px; box-shadow: none;">
                        <div class="container">
                            <div class="width-20p">
                                <a class="">{{title}}</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div> -->
<!-- </div>
</header> -->