<header [ngClass]="{'scroll': isScrolled}">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus ipsum nulla ea beatae fugit commodi! Iusto
        dolore aspernatur perspiciatis similique deserunt veritatis accusamus mollitia enim eos quae dolorum, odit
        voluptatem, architecto, quas pariatur! Nihil sint, magnam veniam doloribus saepe consectetur provident quidem
        temporibus ex, velit officia deleniti eveniet dolorum, fugiat perspiciatis dolore quisquam molestias fugit
        voluptatum quasi minus delectus aut! Ad corrupti quibusdam illum et exercitationem nulla facilis perferendis
        repudiandae? Eligendi maiores obcaecati similique id repudiandae sit nemo doloribus, cumque architecto! Tenetur
        magnam sapiente fugit, earum maxime quisquam expedita at molestiae, ut vero beatae? Minus cumque maxime quidem
        placeat ipsum blanditiis voluptates obcaecati eos suscipit a, facilis explicabo sint similique mollitia magnam
        nisi labore expedita. Nam temporibus esse expedita eum fugiat? Dolores, nihil. Nemo a temporibus adipisci
        nostrum iure consequuntur eaque voluptatum, explicabo iusto repellat mollitia repellendus eos id neque, aut
        soluta aliquid animi ab expedita obcaecati possimus impedit quasi recusandae harum. In delectus obcaecati optio
        repudiandae expedita atque sint fuga impedit, repellendus sunt cupiditate ducimus recusandae quae consectetur
        consequatur praesentium, suscipit, sequi ipsa. Assumenda, atque sequi architecto doloremque ad repellat,
        voluptates corrupti hic tempore repellendus aliquid porro rerum provident temporibus. Perferendis, incidunt? Est
        nobis expedita perspiciatis quos dolorum enim asperiores. Ipsa, doloribus voluptates aperiam provident non
        corrupti odit ea pariatur, impedit enim dolorum debitis officia! Qui consectetur ipsum animi, optio sed, facere
        voluptatem, in soluta rem laudantium ex? Incidunt ex officia hic sed sequi neque ad eius, quasi placeat quidem
        facilis voluptatem, deserunt mollitia ipsa rem recusandae repudiandae quia, porro repellendus laborum iusto.
        Ipsa ipsum tenetur earum exercitationem quos commodi velit nesciunt corrupti error odio eos suscipit voluptatem,
        totam dicta adipisci inventore veniam amet asperiores nam, consectetur nisi. Aut esse autem eos inventore
        corporis nemo libero. Quos deserunt quia explicabo suscipit, doloremque error dolores, laborum, perferendis
        molestias commodi numquam?</p>
</header>