<header [ngClass]="{'scroll': isScrolled}">
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Dev Vidhanam</a>
            <button class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation"
                (click)="onToggleName()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarSupportedContent"
                [ngClass]="isShow?'collapse navbar-collapse show':'collapse navbar-collapse'">
                <ul class="navbar-nav">
                    <li class="nav-item" (click)="onclose()">
                        <a class="nav-link">Home</a>
                    </li>
                    <li class="nav-item" (click)="onclose()">
                        <a class="nav-link">About</a>
                    </li>
                    <li class="nav-item" (click)="onclose()">
                        <a class="nav-link">Service</a>
                    </li>
                    <li class="nav-item" (click)="onclose()">
                        <a class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item" (click)="onclose()">
                        <a class="nav-link">Gallery</a>
                    </li>
                    <li class="nav-item" (click)="onclose()">
                        <a class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>