/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  background: #fff;
}

.services .icon-box .icon {
  margin-bottom: 10px;
}

.services .section-title h2{
  color:#cb3a00
}

.services .section-title p{
  color:#ffbb50
}

.services .icon-box .icon i {
  color: #981f1d;
  font-size: 36px;
  transition: 0.3s;
}

.services .icon-box h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #981f1d;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: #700603;
}

.services .icon-box:hover {
  transform: translateY(-10px);
}

.services .icon-box:hover h4 a {
  color: #cb3a00;
}

.serviceCardView {
  max-height: 1%;
  overflow-y: auto;
}

p{
  text-align: justify;
}

.fixedHeight{
  min-height: 55vh;
}

@media screen and (min-width: 480px) and (max-width:768px){
  .fixedHeight{
    min-height: 107Vh;
  }
}

@media screen and (min-width: 769px) and (max-width:1024px) {
  .fixedHeight{
    min-height: 104Vh !important;
  }
}
@media screen and (min-width: 1025px) and (max-width:1199px) {
  .fixedHeight{
    min-height: 75VH !important;
  }
}
@media screen and (min-width: 1200px) and (max-width:1248px) {
  .fixedHeight{
    min-height: 65VH !important;
  }
}
@media screen and (min-width: 1249px) and (max-width:2217px) {
  .fixedHeight{
    min-height: 29Vh !important;
  }
}
@media screen and (max-width: 2218px) {
  .fixedHeight{
    min-height: 55Vh !important;
  }
}

.scrollContent{
  overflow-y: auto;
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.oval-button {
  position: absolute;
  bottom: 1%;
  left: 5%;
  right: 5%;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #700603;
  border: 0;
  width: 90%;
}

.oval-button:hover{
  background: #cb3a00
}