<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg my-3">
    <div class="container" data-aos="fade-up">

        <div class="section-title text-center">
            <h2>Our services</h2>
        </div>

        <div class="row">
            <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideConfig" class="carousel">
                <div ngxSlickItem class="col-xl-3 col-md-6 d-flex align-items-stretch mx-2 mt-md-0 slide fixedHeight"
                    data-aos="zoom-in" data-aos-delay="100" *ngFor="let card of cardsList;">
                    <div class="icon-box">
                        <h4 class="text-center" style="color: #e47d1d;"><a href=""><strong>{{card.title}}</strong></a>
                        </h4>
                        <h6><a href="">{{card.shloka}}</a></h6>
                        <p class="scrollContent">{{card.description}}</p>
                        <div class="container-button">
                            <button class="oval-button" (click)="onNaviagte()">
                                Show More
                            </button>
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel>
        </div>
    </div>
</section>