<!-- ======= Skills Section ======= -->
<section id="skills" class="skills">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-12">
                <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideConfig" class="full-width">
                    <div ngxSlickItem *ngFor=" let imagList of listsImages">
                        <img [src]="imagList" alt="">
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</section>