<div class="about-us-sec pt-100 pb-70">
    <div class="container">
        <div class="row">
            <!-- About Us Short Description Start -->
            <div class="col-md-6">
                <div class="about-desc">
                    <h1>Welcome To Our learapress</h1>
                    <p>Lorem ipsum dolor sit amet, justo nunc orci donec sagittis metus dapibus, erat ullamcorper
                        odio augue eleifend, consequat enim ullamcorper magnis dignissim nec phasellus, Lorem ipsum
                        dolor sit amet, justo nunc orci donec sagittis metus dapibus, erat ullamcorper odio augue
                        eleifend, consequat enim</p>
                    <p>Lorem ipsum dolor sit amet, justo nunc orci donec sagittis metus dapibus, erat ullamcorper
                        odio augue eleifend, consequat enim .</p>
                    <a href="#" class="about-btn">Read More</a>
                </div>
            </div>
            <!-- About Us Short Description End -->
            <!-- Video Intro Start -->
            <div class="col-md-6">
                <div class="vedio-inner">
                    <img src="/assets/img/vedio_thumb.jpg" alt="">
                    <div class="vedio-overly">
                        <div class="vedio-button">
                            <a href="https://www.youtube.com/watch?v=YzDz8g1z83U" class="mfp-iframe vedio-play"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Video Intro End -->
        </div>
    </div>
</div>