/* You can add global styles to this file, and also import other style files */
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

header.scroll {
  background-color: #cb3a00;
}

header.scroll a{
  color: #ffffff !important;
}

.navbar-brand{
  font-weight: 500 !important;
  color: #FFF6F4;
}

.nav-link{
 color: #FFF6F4;
 font-weight: 450 !important;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  z-index: 100;
  background-color: transparent;
}

a{
  text-decoration: none;
  cursor: pointer;
}
// common cSS
body{
  background-color: #1d2b35;
}