<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2 class="text-center">{{"Contact_Us" | translate}}</h2>
        </div>

        <div class=" row">
            <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form role="form" class="php-email-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()"
                    ngNativeValidate>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name">{{"Your_Name"|translate}}</label>
                            <input type="text" name="name" class="form-control" id="name" required
                                formControlName="clientName">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="name">{{"Your_Email"|translate}}</label>
                            <input type="email" class="form-control" name="email" id="email" required
                                formControlName="clientEmail">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">{{"Subject"|translate}}</label>
                        <input type="text" class="form-control" name="subject" id="subject" required
                            formControlName="clientSubject">
                    </div>
                    <div class="form-group">
                        <label for="name">{{"Message"|translate}}</label>
                        <textarea class="form-control" name="message" rows="7" required
                            formControlName="clientMessage"></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading" *ngIf="showLoader">{{"Loading"|translate}}</div>
                        <div class="sent-message" *ngIf="showMessage">
                            {{"Your_message_has_been_sent_Thank_you"|translate}}</div>
                    </div>
                    <div class="text-center"><button type="submit">{{"Send_Message"|translate}}</button></div>
                </form>
            </div>
        </div>
    </div>
</section>