<!-- Footer Section Start -->
<footer class="footer">
    <!-- Footer Top Start -->
    <div class="footer-sec">
        <div class="container">
            <div class="row">
                <!-- Single Footer Widget Start -->
                <div class="col-md-3 col-sm-6">
                    <div class="footer-wedget-one">
                        <h2>About Us</h2>
                        <p>Dev Vidhanam is a platform where you can discover true understanding and knowledge of Sanatan
                            Dharma (Eternal Religion).
                            It is based on the fundamental pillars of Jyotish (astrology), Karm-Kand (ritual practices),
                            and Shastra (scriptures).</p>
                        <a href="index-2.html"><img src="img/ft-logo.png" alt="" /></a>
                    </div>
                </div>
                <!-- Single Footer Widget End -->
                <!-- Single Footer Widget Start -->
                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget-menu">
                        <h2>our Course</h2>
                        <ul>
                            <li><a href="#">Graphics Design</a></li>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">Article Wiriting</a></li>
                            <li><a href="#">Vitual Assitance</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Single Footer Widget End -->
                <!-- Single Footer Widget Start -->
                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget-menu">
                        <h2>Quick Links</h2>
                        <ul>
                            <li><a href="#">Support Center</a></li>
                            <li><a href="#">Create Account</a></li>
                            <li><a href="#">business Policy</a></li>
                            <li><a href="#">Terms and condition</a></li>
                            <li><a href="#">Analysis Course</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Single Footer Widget End -->
                <!-- Single Footer Widget Start -->
                <div class="col-md-3 col-sm-6">
                    <div class="footer-wedget-four">
                        <h2>contact us </h2>
                        <div class="inner-box">
                            <div class="media">
                                <div class="inner-item">
                                    <div class="media-left">
                                        <span class="icon"><i class="fa fa-map-marker"></i></span>
                                    </div>
                                    <div class="media-body">
                                        <span class="inner-text">4080 Little Acres Lane Mattoon, IL 61938, United
                                            States</span>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="inner-item">
                                    <div class="media-left">
                                        <span class="icon"><i class="fa fa-envelope-o"></i></span>
                                    </div>
                                    <div class="media-body">
                                        <span class="inner-text">yourmail@gmail.com, info@eduteach.com</span>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="inner-item">
                                    <div class="media-left">
                                        <span class="icon"><i class="fa fa-phone"></i></span>
                                    </div>
                                    <div class="media-body">
                                        <span class="inner-text">+880 23456789, 27-2564687</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Footer Widget End -->
            </div>
        </div>
    </div>
    <!-- Footer Top End -->
    <!-- Footer Bottom Start -->
    <div class="footer-bottom-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="copy-right">
                        <p>Copyright 2018 &copy; <span><a href="#">themegarbage,</a></span> Designed by:<span> site
                                Author</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom End -->
</footer>
<!-- Footer Section End -->